@page "/category"
@inject Microsoft.AspNetCore.Components.NavigationManager navigation


<PageTitle>Category list</PageTitle>

<h1>Category list</h1>

<ErrorMessage Message="@ErrorMessage"></ErrorMessage>

<p>This component demonstrates the list of categories</p>
<button class="btn btn-primary mb-2" @onclick="@(() => navigation.NavigateTo("/category/create"))">Create</button>

@if (pagedData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@nameof(CategoryDto.BusinessId)</th>
                <th>@nameof(CategoryDto.Name)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in pagedData.QueryResult)
            {
                <tr>
                    <td>@category.BusinessId</td>
                    <td>@category.Name</td>
                    <td>
                        <button class="btn btn-warning" @onclick="@(() => navigation.NavigateTo($"/category/update/{category.Id}"))">Update</button>
                        <button class="btn btn-danger" @onclick="() => Delete(category.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col">
            <Pagination Spread="2"
                    CurrentPage="@pagedData.PageNumber"
                    PageSize="@pagedData.PageSize"
                    TotalCount="@pagedData.TotalCount"
                    SelectedPage="SelectedPage" />
        </div>
    </div>
}

